.header-social {
  display: flex;
  // width: 18%;
  align-items: center;
  justify-content: start;

  grid-area: m3;

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &__image {
    width: 100%;
  }
}
